<div [@routerTransition]>
  <div class="card form-box mx-auto my-auto col-4">
    <h4 class="card-header text-center">{{ "LogIn" }}</h4>
    <div class="card-body">
      <form novalidate autocomplete="off" #loginForm="ngForm" (ngSubmit)="login()">
        <div class="form-group mt-3">
          <div class="input-group">
            <input type="text" class="form-control" name="userLoginIdentity"
              [(ngModel)]="appAuthService.LoginDto.userLoginIdentityAddress" [placeholder]="'UserNameOrEmail'" required
              maxlength="256" #userLoginIdentityModel="ngModel" #userLoginIdentityEl />
          </div>
        </div>
        <div class="form-group mt-3">
          <div class="input-group">
            <input type="password" class="form-control" name="password"
              [(ngModel)]="appAuthService.LoginDto.password" [placeholder]="'Password'" required maxlength="32"
              #passwordModel="ngModel" #passwordEl />
          </div>
        </div>
        <div class="form-group row mt-3">
          <div class="col-md-8">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="rememberMe" name="rememberMe"
                [(ngModel)]="appAuthService.rememberMe" />
              <label for="rememberMe" class="custom-control-label">
                {{ "RememberMe" }}
              </label>
            </div>
          </div>
          <div class="col-md-4">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="!loginForm.form.valid || submitting">
              {{ "LogIn" }}
            </button>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6">
            <div class="register-wrap ">
              <span>New User? </span>
              <br>
              <a routerLink="/register">create an account</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="register-wrap ">
              <span>Forgot Possword? </span>
              <br>
              <a routerLink="/forgotpassword-page">click here</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>