/* Custom CSS for the switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: .4s;
}

input[type="checkbox"]:checked+.slider:before {
  transform: translateX(26px);
}

input[type="checkbox"] {
  display: none;
}

.enable-label,
.disable-label {
  margin: 0 5px;
}

.enabled-label {
  display: flex;
  align-items: center;
}


.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
}

.card {
  margin-bottom: 20px;
}

.auth-key-container,
.qr-code-container {
  text-align: center;
}

.auth-key-container {
  background-color: #f8f9fa;
  padding: 15px;
}

.qr-code-container {
  margin-top: 10px;
}

.qr-code {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.page-title {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

@media (max-width: 767px) {
  .col-md-6 {
    width: 100%;
  }

  .qr-code-container {
    margin-top: 20px;
  }
}