<nav>
  <div>
    <a routerLink="/home" *ngIf="isLoggedIn">Home</a>
  </div>
  <div *ngIf="!isLoggedIn">
    <a routerLink="/login">Login</a>
    <a routerLink="/register">Register</a>
  </div>
  <div *ngIf="isLoggedIn">
    <a routerLink="/wallet-group">Wallets Groups</a>
    <a routerLink="/wp-assigned">WP-Assigned</a>
    <a routerLink="/wp-received">WP-Received</a>
    <a routerLink="/tx-pendings">TX-Pendings</a>
    <a routerLink="/tx-records">TX-Records</a>
  </div>
</nav>
<div class="container m-3">
  <router-outlet></router-outlet>
</div>