.wallet-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

@media (max-width: 767px) {
    .wallet-container {
        padding: 10px;
    }
}

.section {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    word-wrap: break-word;
}

.btn-secondary {
    margin-top: 10px;
}

.form-control,
.form-select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
}

.form-buttons button[type="submit"] {
    margin-top: 10px;
}

.form-buttons button[type="submit"]:hover {
    background-color: #0056b3;
}

.form-buttons button {
    margin-right: 10px;
}

.form-check-input {
    margin-right: 5px;
}

.mb-3 {
    margin-bottom: 1rem;
}

.wallet-info .btn {
    margin-top: 5px;
}

.dropdown-menu {
    padding: 15px;
}

.transfer-limit-form,
.whitelist-address-form {
    background-color: #f9f9f9;
    position: relative;
}



.delete-button {
    position: absolute;
    top: 0;
    right: 0;
}

.transfer-limit-form select,
.transfer-limit-form input[type="number"] {
    background-color: #fff;
}

.btn-with-margin {
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}
