<div [@routerTransition]>
    <div>
        <h1>Welcome {{ user?.userData.displayName }} to the Home Page!</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>isEmailVerified</th>
                <th>isPhoneVerified</th>
                <th>isTwoFactorEnabled</th>
            </tr>
            <tr>
                <td id="id">{{ user?.id }}</td>
                <td id="emailAddress">{{ user?.userData.emailAddress }}</td>
                <td id="isEmailVerified">{{ user?.userData.isEmailVerified }}</td>
                <td id="isPhoneVerified">{{ user?.userData.isPhoneVerified }}</td>
                <td id="isTwoFactorEnabled">{{ user?.userData.isTwoFactorEnabled }}</td>
            </tr>
        </table>
    </div>
    <div>
        <p>Logout Here</p>
        <button (click)="logout()">Logout</button>
    </div>
    <div>
        <p>Setup Two Factors Auth</p>
        <button (click)="twoFactorSetup()">Setup 2FA</button>
    </div>
</div>