<div [@routerTransition]>
    <div class="card form-box mx-auto my-auto">
      <h4 class="card-header text-center">{{ "Register" }}</h4>
      <div class="card-body">
        <form novalidate autocomplete="off" #registrationForm="ngForm" (ngSubmit)="register()">
          <div class="form-group mt-3">
            <div class="input-group">
              <input type="text" class="form-control" name="firstName" 
                [(ngModel)]="CreateUserDto.firstName" [placeholder]="'First Name'"
                required maxlength="256" #firstNameModel="ngModel" #usernameEl />
            </div>
          </div>
          <div class="form-group mt-3">
            <div class="input-group">
              <input type="text" class="form-control" name="lastname"
                [(ngModel)]="CreateUserDto.lastName" [placeholder]="'Last Name'"
                required maxlength="256" #lastNameModel="ngModel" #emailEl />
            </div>
          </div>
          <div class="form-group mt-3">
            <div class="input-group">
              <input type="text" class="form-control" name="UserName"
                [(ngModel)]="CreateUserDto.userName" [placeholder]="'UserName'" required maxlength="32"
                #userNameModel="ngModel"  />
            </div>
          </div>
          <div class="form-group mt-3">
            <div class="input-group">
              <input type="email" class="form-control" name="emailAddress"
                [(ngModel)]="CreateUserDto.emailAddress" [placeholder]="'Email Address'"
                required maxlength="32" #emailAddressModel="ngModel" />
            </div>
          </div>
          <div class="form-group mt-3">
            <div class="input-group">
              <input type="password" class="form-control" name="password"
                [(ngModel)]="CreateUserDto.passWord" [placeholder]="'Password'" required maxlength="32"
                #PasswordModel="ngModel"  />
            </div>
          </div>
          <div class="form-group row mt-3">
            <div class="col-md-12">
              <button type="submit" class="btn btn-primary btn-block" [disabled]="!registrationForm.form.valid || submitting">
                {{ "Register" }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>